
# This file is kept out of your project repo with the local .gitignore file
# This file contains secret login info.
# Add user if the login user is different from the local user or using password
# Add password if your SSH is not using a key file
# If you cannot see this file in Atom, click on the treeview and press the letter i

login:
  user: 'root'
  password: ''
